*.tlog
*.exe
GameEngine/bin/Debug/*
GameEngine/Debug/*
GameEngine/Debug/GameEngine.log
GameEngine/Debug/main.obj
GameEngine/Debug/vc140.idb
GameEngine/Debug/vc140.pdb
GameEngine.sln
GameEngine.sdf
GameEngine/Debug/window.obj.enc
GameEngine/GameEngine.vcxproj
GameEngine/Debug/window.obj
GameEngine/GameEngine.vcxproj.user
*.obj
*.log
Debug/GameEngine.ilk
*.pdb
bin/Debug/GameEngine.ilk
bin/Debug/Intermediate/vc140.idb
.vs/GameEngine/v14/.suo
bin/Debug/Intermediate/main.obj.enc
bin/Debug/Intermediate/vec2.obj.enc
GameEngine/GameEngine.vcxproj.filters
*.opendb